bpemb>=0.3.3
Deprecated==1.2.6
h5py>=3.3.0
hyperopt>=0.2.5
pyconll>=3.1.0
pytorch-transformers>=1.1.0
spacy==3.0.0
sklearn>=0.0
segtok==1.5.7
supar>=1.1.2
torch>=1.7.1
transformers==4.9.1
tabulate>=0.8.6
html2text==2020.1.16
gensim>=3.6.0
fasttext==0.9.2
wiki-dump-reader==0.0.4
gdown==4.2.0
conllu==4.4.1
py7zr==0.17.2